<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>新增收货地址</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.8/lib/index.css" />
	<link rel="stylesheet" type="text/css" href="../css/api.css" />
	<style>
	</style>
</head>

<body>
	<div class="" id="app">
		<div class="clear box1 bgfff shopCartTop" id="header">
			<a href="javascript:;" class="fl searchBack apdBack" onclick="api.closeWin();"></a>
			<div class="ta-c">新增收货地址</div>
		</div>
		<div class="box1">
			<div class="clear addAddressItem">
				<div class="addAddressLabel fl">收件人&nbsp;&nbsp;&nbsp;</div>
				<input v-model="data.receive_name" type="text" class="addAddressIput fl" placeholder="请输入姓名"
					style="width:40vw;" />
				<div class="fr">
					<van-radio-group v-model="data.gender" direction="horizontal" class="vanRadioGroup">
						<van-radio :name="0" checked-color="#a8896d">男</van-radio>
						<van-radio :name="1" checked-color="#a8896d">女</van-radio>
					</van-radio-group>
				</div>
			</div>
			<div class=" clear addAddressItem">
				<div class="addAddressLabel fl">手机号码</div>
				<input v-model="data.receive_phone" type="number" class="addAddressIput fl" placeholder="请输入" />
			</div>
			<div class="clear addAddressItem">
				<div class="addAddressLabel fl">固定电话</div>
				<input v-model="data.telephone" type="number" class="addAddressIput fl" placeholder="请输入" />
			</div>
		</div>
		<div class="articleInterval"></div>
		<div class="box1">
			<div class="clear addAddressItem">
				<div class="addAddressLabel fl">所在地区</div>
				<a href="javascript:;" class="fr inTheArea" @click="show=true">{{data.area}}</a>
			</div>
			<div class="clear addAddressItem">
				<div class="addAddressLabel fl">详细地址</div>
				<input v-model="data.address" type="text" class="addAddressIput fl" placeholder="请输入" />
			</div>
			<div class="clear addAddressItem">
				<div class="addAddressLabel fl">邮政编码</div>
				<input v-model="data.postcode" type="number" class="addAddressIput fl" placeholder="请输入" />
			</div>
			<div class="clear addAddressItem">
				<div class="addAddressLabel fl">身份证号</div>
				<input v-model="data.id_card_num" type="text" class="addAddressIput fl" placeholder="请输入" />
			</div>
			<div class="clear">
				<div class="addAddressLabel fl">身份证照片</div>
				<div class="fl addAddressTips">通过转运方式购买时需要，务必保证照片清晰</div>
			</div>
			<div class="addAddressUploadBox box1 clear">
				<div class="aa_uploadBox fl">
					<a href="javascript:;" class="aa_uploadMain">
						<div class="aa_uploadBD">
							<img src="../image/icon67.png" alt="" />
							<div class="aa_uploadLabel">仅清关用</div>
							<van-image class="uploadImage" fit="cover" :src="data.id_card_photo"
								v-show="data.id_card_photo!=''"></van-image>
							<input type="file" id="image" @change="fileChange(1)" class="uploadFile" />
						</div>
					</a>
					<div class="aa_uploadFoot">正面</div>
				</div>
				<div class="aa_uploadBox fl">
					<a href="javascript:;" class="aa_uploadMain">
						<div class="aa_uploadBD">
							<img src="../image/icon67.png" alt="" />
							<div class="aa_uploadLabel">仅清关用</div>
							<van-image class="uploadImage" fit="cover" :src="data.id_card_photo_reverse"
								v-show="data.id_card_photo_reverse!=''"></van-image>
							<input type="file" id="image2" @change="fileChange(2)" class="uploadFile" />
						</div>
					</a>
					<div class="aa_uploadFoot">背面</div>
				</div>
			</div>
		</div>
		<a href="javascript:;" class="commentBtn saveAddress" @click="saveAddress()">
			<span>保存地址</span>
		</a>
		<van-popup v-model="show" position="bottom">
			<van-area title="" :area-list="areaList" :columns-num="3" @confirm="areaConfirm" @cancel="areaCancel">
			</van-area>
		</van-popup>
	</div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/jquery.js"></script>
<script type="text/javascript" src="../script/public.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.8/lib/vant.min.js"></script>
<script src="../script/languages.min.js"></script>
<script src="../script/area/area1.js"></script>
<script type="text/javascript">
	function gtQueryString(name) {
		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if (r != null) return unescape(r[2]); return null;
	}
	var id = gtQueryString("id");
	console.log('id', id);
	if (id == null) {
		id = 0;
	}
	// 在 #app 标签下渲染一个按钮组件
	var app = new Vue({
		el: '#app',
		data() {
			return {
				radio: '1',
				show: false,
				areaList: [],
				data: {
					address: "",
					area: "广东省汕头市龙湖区",
					gender: 0,
					id: id,
					id_card_num: "",
					id_card_photo: "",
					id_card_photo_reverse: "",
					postcode: 0,
					receive_name: "",
					receive_phone: "",
					telephone: "",
				},
				file_name: '',
				file_name2: '',
				isSave: true,
			};
		},
		created() {
			this.areaList = areadata;
			console.log('areadata', areadata);
			// import('../script/area/area.js')
			// 	.then(data => {
			// 		console.log('data', data.default);
			// 		this.areaList = data.default;
			// 	})
			// 	.catch(error => {
			// 		/* Error handling */
			// 	})
			this.getAddressDetail();
		},
		methods: {
			areaConfirm(data) {
				console.log('areaConfirm_data', data);
				if (data) {
					this.data.area = data[0].name + data[1].name + data[2].name
				}
				this.show = false;
			},
			areaCancel() {
				this.show = false;
			},
			getAddressDetail() {
				let _this = this;
				let d = {
					id: id,
				};
				if (id != 0 || id != '0') {
					request("POST", requestUrl + "/App/Users/AddressDetail", JSON.stringify(d), function (data) {
						console.log('getAddressDetail', JSON.stringify(data));
						if (data.success) {
							_this.data = data.data;
							console.log('_this.data', JSON.stringify(_this.data));
						}
					})
				}

			},
			saveAddress() {
				let _this = this;
				console.log('typeof', typeof this.data.id)
				if (this.data.id == 0 || this.data.id == '0') {
					delete this.data.id;
					if (this.isSave) {
						this.isSave = false;
						request("POST", requestUrl + "/App/Users/AddAddress", JSON.stringify(this.data), function (data) {
							console.log('AddAddress', JSON.stringify(data));
							_this.isSave = true;
							if (data.success) {
								alert("新增成功！");
								//api.closeWin();
								openUrl('addressList.html', {})
							}
						})
					}
				} else {
					if (this.isSave) {
						this.isSave = false;
						request("POST", requestUrl + "/App/Users/EditAddress", JSON.stringify(this.data), function (data) {
							console.log('EditAddress', JSON.stringify(data));
							_this.isSave = true;
							if (data.success) {
								alert("修改成功！");
								//api.closeWin();
								openUrl('addressList.html', {})
							}
						})
					}
				}
			},
			GetSign() {
				let _this = this;
				request("GET", requestUrl + "/App/AppImage/GetSign", '', function (data) {
					console.log('GetSign', JSON.stringify(data));
					let html = '';
					if (data.success) {
						_this.sign = data.data.sign;
					}
				})
			},
			fileChange(type) {
				let _this = this;
				console.log('type', type)
				console.log('files', $("#image")[0])
				console.log('files', $("#image")[0].files)
				console.log('files[0]', $("#image")[0].files[0])
				var reader = new FileReader();
				var AllowImgFileSize = 512 * 1024; //上传图片最大值(单位字节)（ 2 M = 2097152 B ）超过2M上传失败
				var file = '';
				if (type == 1) {
					file = $("#image")[0].files[0];
					_this.file_name = file.name;
				} else {
					file = $("#image2")[0].files[0];
					_this.file_name2 = file.name;
				}
				var imgUrlBase64;
				if (file) {
					//将文件以Data URL形式读入页面  
					imgUrlBase64 = reader.readAsDataURL(file);
					reader.onload = function (e) {
						//var ImgFileSize = reader.result.substring(reader.result.indexOf(",") + 1).length;//截取base64码部分（可选可不选，需要与后台沟通）
						if (AllowImgFileSize != 0 && AllowImgFileSize < reader.result.length) {
							alert('上传失败，请上传不大于512kb的图片！');
							return;
						} else {
							//执行上传操作
							console.log('reader.result', reader.result);
							if (type == 1) {
								_this.data.id_card_photo = reader.result;
							} else {
								_this.data.id_card_photo_reverse = reader.result;
							}
							_this.uploadImg(type)
						}
					}
				}
			},
			uploadImg(type) {
				let _this = this;
				console.log('this', this);
				request("GET", requestUrl + "/App/AppImage/GetSign", '', function (data0) {
					console.log('GetSign', JSON.stringify(data0));
					let html = '';
					if (data0.success) {
						let d = {
							file_name: type == 1 ? _this.file_name : _this.file_name2,
							img: type == 1 ? _this.data.id_card_photo : _this.data.id_card_photo_reverse,
							sign: data0.data.sign
						}
						request("POST", requestUrl + "/App/AppImage/UploadImg", JSON.stringify(d), function (data) {
							console.log('uploadImg', JSON.stringify(data));
							if (data.success) {
								if (type == 1) {
									_this.data.id_card_photo = data.data.url;
								} else {
									_this.data.id_card_photo_reverse = data.data.url;
								}

							}
						})
					}
				})
			},
		},
	});
	//vant.Toast('提示');
	apiready = function () {
		var header = $api.byId('header');
		//适配iOS 7+，Android 4.4+状态栏
		$api.fixStatusBar(header);
		var pageParam = api.pageParam;
		console.log('pageParam', JSON.stringify(pageParam));
		if (pageParam.id) {
			console.log('pageParam.id', pageParam.id)
			id = pageParam.id;
			app.getAddressDetail();
		}

	};
</script>

</html>