<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>地址列表</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.8/lib/index.css" />
	<link rel="stylesheet" type="text/css" href="../css/api.css" />
	<style>
	</style>
</head>

<body>
	<div class="" id="app">
		<div class="clear box1 bgfff shopCartTop" id="header">
			<a href="javascript:;" class="fl searchBack apdBack" onclick="api.closeWin();"></a>
			<div class="ta-c">地址列表</div>
		</div>
		<van-pull-refresh v-model="isLoading" @refresh="onRefresh">
			<div class="addressList">
				<a class="box1 clear mso_noAddress addressItem" v-for="item in data"
					@click="openUrl('addAddress.html',{id:item.id})">
					<dl class="mso_address">
						<dt>
							<span>{{item.receive_name}}</span>{{item.receive_phone}}
						</dt>
						<dd>{{item.area}}{{item.address}}</dd>
					</dl>
				</a>
			</div>
		</van-pull-refresh>

	</div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/jquery.js"></script>
<script type="text/javascript" src="../script/public.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.8/lib/vant.min.js"></script>
<script src="../script/languages.min.js"></script>
<script type="text/javascript">
	// 在 #app 标签下渲染一个按钮组件
	var app = new Vue({
		el: '#app',
		data() {
			return {
				data: [],
				isLoading: false,
			};
		},
		created() {
			this.getAddressList();
		},
		methods: {
			onRefresh() {
				this.isLoading = false;
				this.getAddressList();
			},
			openUrl(url, pageParam) {
				openUrl(url, pageParam)
			},
			getAddressList() {
				let _this = this;
				request("GET", requestUrl + "/App/Users/AddressList", '', function (data) {
					console.log('getAddressList', data);
					if (data.success) {
						_this.data = data.data;
						console.log('_this.data', _this.data);
					}
				})
			},
		},
	});
	//vant.Toast('提示');
	apiready = function () {
		var header = $api.byId('header');
		//适配iOS 7+，Android 4.4+状态栏
		$api.fixStatusBar(header);
	};
</script>

</html>