<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title>首页</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.8/lib/index.css" />
  <link rel="stylesheet" type="text/css" href="../css/api.css" />
  <style>

  </style>
</head>

<body>
  <div class="" id="app" v-cloak>
    <!-- 头部 -->
    <div class="box clear" id="header">
      <a class="homeMsg" onclick="openUrl('messageBox.html',{})">
        <img src="../image/icon1.png" alt="" class="icon1">
        <span class="redBlock"></span>
      </a>
      <a href="javascript:;" class="fr language" @click="showPicker = true">{{language}}</a>
      <a href="javascript:;" onclick="openUrl('search.html',{})" class="fr searchBtn"><img src="../image/icon2.png"
          alt="" /></a>
    </div>
    <!-- 轮播 -->
    <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
      <van-swipe-item v-for="(item,index) in swipe" :key="index" v-if="item.img!=null&&item.img!=''">
        <a href="javascript:;" @click="openUrl('activityPosterDetails.html',{id:item.id})">
          <van-image width="100vw" height="45vw" fit="cover" :src="item.img"></van-image>
        </a>
      </van-swipe-item>
    </van-swipe>
    <!-- 平台 -->
    <div class="homeNavBox">
      <div class="clear homeNav">
        <!-- <a onclick="openUrl('activityPosterDetails.html','{}')">Luisaviaroma</a>
        <a onclick="openUrl('activityPosterDetails.html','{}')">Matchesfashion</a>
        <a onclick="openUrl('activityPosterDetails.html','{}')">Brownsfashion</a>
        <a onclick="openUrl('activityPosterDetails.html','{}')">Luisaviaroma</a> -->
      </div>
    </div>
    <!-- 广告图 -->
    <div class="clear" style="margin-top:0vw;" v-for="(item,index) in poster" :key="index"
      v-if="item.img!=null&&item.img!=''">
      <a @click="openUrl('activityPosterDetails.html',{id:item.id})" class="fl block" style="width:100%;">
        <!-- <img src="../image/productImg1.jpg" alt=""/> -->
        <van-image width="100vw" height="45vw" fit="cover" :src="item.img" style="display: block;"></van-image>
      </a>
    </div>
    <!-- 栏目 -->
    <div v-for="(item,index) in column" :key="index">
      <div class="clear homeTagBox">
        <div class="homeTag fl">{{item.title}}
          <!--{hk}猜妳喜歡-->
          <!--{en}GUESS YOU LIKE-->
        </div>
        <a href="javascript:;" class="fr c7d7d7d homeTagLink"
          @click="openUrl('activityPosterDetails.html',{id:item.id})">
          <span>共{{item.products.length}}款</span>
          <van-icon name="arrow"></van-icon>
        </a>
      </div>
      <ul class="youLike clear">
        <li v-for="(i,iIndex) in item.products" :key="iIndex">
          <a @click="openUrl('productDetail.html',{id:i.id})">
            <!-- <img :src="i.main_photo" alt="" /> -->
            <van-image width="19vw" height="32vw" fit="cover" :src="i.main_photo" style="display: block;">
            </van-image>
          </a>
          <div class="proBrand">{{i.brand}}
            <!--{hk}品牌-->
            <!--{en}brand-->
          </div>
          <div class="proName">{{i.name}}
            <!--{hk}中長袖白T恤-->
            <!--{en}The white long-sleeved T-shirt-->
          </div>
          <div class="proState">{{i.platform}}
            <!--{hk}歐洲 現貨-->
            <!--{en}European spot-->
          </div>
          <div class="clear">
            <div class="fl proPrice">￥{{i.price}}</div>
            <div :class="['proIsCollection','fr',i.is_collect?'active':'']"></div>
          </div>
        </li>
      </ul>
    </div>
    <!-- 语言选择picker -->
    <van-popup v-model="showPicker" round position="bottom">
      <van-picker show-toolbar :columns="columns" @cancel="showPicker = false" @confirm="onConfirm" />
    </van-popup>
  </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/jquery.js"></script>
<script type="text/javascript" src="../script/public.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.8/lib/vant.min.js"></script>
<script src="../script/translater/dist/translater.js"></script>
<script type="text/javascript">
  var tran = new Translater();
  if (tran.getLang() === "default") tran.setLang('cn');
  // 在 #app 标签下渲染一个按钮组件
  var app = new Vue({
    el: '#app',
    data() {
      return {
        current: 0,
        showPicker: false,
        columns: ['简体中文', '繁体中文', 'ENGLISH'],
        language: '简体中文',
        swipe: [],
        poster: [],
        column: [],
      };
    },
    created() {
      this.language = window.localStorage.getItem("language");
      if (this.language == undefined) {
        this.language = '简体中文';
      }
      this.getMainPoster();
    },
    methods: {
      openUrl(url, pageParam) {
        openUrl(url, pageParam)
      },
      onChange(index) {
        this.current = index;
      },
      onConfirm(value) {
        this.language = value;
        this.showPicker = false;
        console.log('tran', tran)
        if (value == "简体中文") {
          tran.setLang('cn');
        } else if (value == 'ENGLISH') {
          tran.setLang('en');
        } else if (value == '繁体中文') {
          tran.setLang('hk');
        }
        window.localStorage.setItem("language", value);
        window.location.reload();
      },
      getMainPoster() {
        let _this = this;
        request("GET", requestUrl + "/App/Poster/MainPoster", '', function (data) {
          console.log('getMainPoster', JSON.stringify(data));
          if (data.success) {
            if (data.data.Swipe.length > 0) {
              _this.swipe = data.data.Swipe;
              console.log('swipe', JSON.stringify(_this.swipe));
            }
            if (data.data.Poster.length > 0) {
              _this.poster = data.data.Poster;
              console.log('poster', JSON.stringify(_this.poster));
            }
            if (data.data.Column.length > 0) {
              _this.column = data.data.Column;
              console.log('column', JSON.stringify(_this.column));
            }
          }
        })
      },
    },
  });
  apiready = function () {
    var header = $api.byId('header');
    //适配iOS 7+，Android 4.4+状态栏
    //$api.fixStatusBar(header);
  };
  //网站(平台)下拉框信息
  function getPlatform() {
    request("GET", requestUrl + "/App/DropItem/Platform", '', function (data) {
      console.log('getPlatform', JSON.stringify(data));
      let html = '';
      if (data.success) {
        if (data.data.length > 0) {
          data.data.forEach(i => {
            html += `<a onclick="openUrl('searchResult.html',{webId:${i.id}})">${i.name}</a>`;
          });
        }
        $(".homeNav").html(html);
      }
    });
  };
  getPlatform();
</script>

</html>