<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>购物车</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.8/lib/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <style>
        body {
            padding-bottom: 14vw;
        }
    </style>
</head>

<body>
    <div class="" id="app">
        <div class="shopCartTop clear">
            <div class="fl shopCartTitle">购物车</div>
            <a href="jacascript:;" class="fr shopCartText" v-if="isEdit" @click="isEdit=false">完成</a>
            <a href="jacascript:;" class="fr shopCartText" v-else @click="isEdit=true">编辑</a>
        </div>
        <div class="cartList">
            <div class="cartItem" v-for="item in 2">
                <div class="cartItemTop clear">
                    <van-checkbox v-model="checked" checked-color="#333333">
                        <span class="cartItemName">网站：Lusia</span>
                    </van-checkbox>
                </div>
                <ul class="cartItemList">
                    <li v-for="i in 2">
                        <van-swipe-cell>
                            <div class="cartItemBd clear">
                                <van-checkbox v-model="checked" checked-color="#333333" class="fl cartCheckbox">
                                </van-checkbox>
                                <img src="../image/productImg9.jpg" alt="" class="fl cartImg" />
                                <div class="fl cartProductBd">
                                    <div class="cartProductName">商品名称商品名称商品名称商品名称</div>
                                    <div class="cartProductInfo">
                                        <span>颜色：white</span>
                                        <span>尺码：40IT</span>
                                    </div>
                                    <div class="cartReceivingWay">收货方式：香港面交</div>
                                    <div class="clear">
                                        <div class="cartProductPrice fl">港币 500.00</div>
                                        <div class="flex fr cartStepper">
                                            <a href="javascript:;" class="cartStepperBtn">-</a>
                                            <input type="number" class="cartStepperInput" v-model="value" />
                                            <a href="javascript:;" class="cartStepperBtn">+</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <template #right>
                                <div class="cartDeleteBox">
                                    <a href="javascript:;" class="cartDelete">
                                        <img src="../image/icon17.png" alt="" />
                                        <div>删除</div>
                                    </a>
                                </div>

                            </template>
                        </van-swipe-cell>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cartStatistical">
            <div class="clear">
                <div class="fl">1件商品标价小计：</div>
                <div class="fr">HK$ 210.00</div>
            </div>
            <div class="clear">
                <div class="fl">限时折扣：</div>
                <div class="fr">-HK$ 210.00</div>
            </div>
            <div class="clear">
                <div class="fl">运费：</div>
                <div class="fr">HK$ 210.00</div>
            </div>
            <div class="clear">
                <div class="fl">小计：</div>
                <div class="fr">HK$ 210.00</div>
            </div>
        </div>
        <div class="clear cartFoot">
            <van-checkbox v-model="checked" checked-color="#333333" class="fl selectAll">全选</van-checkbox>
            <a href="javascript:;" class="cartFootBtn fr" v-if="!isEdit">结算</a>
            <a href="javascript:;" class="cartFootBtn fr" v-if="isEdit">删除</a>
            <div class="fr cartTotalPrice" v-if="!isEdit">总价：<span>0</span></div>
            <div class="fr cartTotalQty" v-if="!isEdit">共 0 件</div>

        </div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.8/lib/vant.min.js"></script>
<script type="text/javascript">
    // 在 #app 标签下渲染一个按钮组件
    var app = new Vue({
        el: '#app',
        data() {
            return {
                checked: false,
                value: 1,
                isEdit: false
            };
        },
        methods: {

        },
    });
    //vant.Toast('提示');
    apiready = function () {

    };

</script>

</html>